openapi: '3.0.3'
info:
  description: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

    The base URI for all Web API requests is `https://api.spotify.com/v1`.

    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
  version: '1.0.0'
  title: 'Spotify Web API'
  termsOfService: 'https://developer.spotify.com/terms/'
  contact:
    name: Spotify for Developers Community
    url: https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer
servers:
  - url: https://api.spotify.com/v1
tags:
  - name: Albums
  - name: Artists
  - name: Audiobooks
  - name: Categories
  - name: Chapters
  - name: Episodes
  - name: Library
  - name: Genres
  - name: Markets
  - name: Player
  - name: Playlists
  - name: Search
  - name: Shows
  - name: Tracks
  - name: Users
paths:
  /albums/{id}:
    get:
      operationId: get-an-album
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Albums
      summary: |
        Get Album
      description: |
        Get Spotify catalog information for a single album.
      parameters:
        - $ref: '#/components/parameters/PathAlbumId'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneAlbum'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /albums:
    get:
      deprecated: true
      operationId: get-multiple-albums
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Albums
      summary: |
        Get Several Albums
      description: |
        Get Spotify catalog information for multiple albums identified by their Spotify IDs.
      parameters:
        - $ref: '#/components/parameters/QueryAlbumIds'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyAlbums'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /albums/{id}/tracks:
    get:
      operationId: get-an-albums-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Albums
        - Tracks
      summary: |
        Get Album Tracks
      description: |
        Get Spotify catalog information about an album’s tracks.
        Optional parameters can be used to limit the number of tracks returned.
      parameters:
        - $ref: '#/components/parameters/PathAlbumId'
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /artists/{id}:
    get:
      tags:
        - Artists
      operationId: get-an-artist
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Artist
      description: |
        Get Spotify catalog information for a single artist identified by their unique Spotify ID.
      parameters:
        - $ref: '#/components/parameters/PathArtistId'
      responses:
        '200':
          $ref: '#/components/responses/OneArtist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /artists:
    get:
      deprecated: true
      tags:
        - Artists
      operationId: get-multiple-artists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Several Artists
      description: |
        Get Spotify catalog information for several artists based on their Spotify IDs.
      parameters:
        - name: ids
          required: true
          in: query
          schema:
            title: Spotify Artist IDs
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 50 IDs.
            example: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyArtists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /artists/{id}/albums:
    get:
      tags:
        - Artists
        - Albums
      operationId: get-an-artists-albums
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Artist's Albums
      description: |
        Get Spotify catalog information about an artist's albums.
      parameters:
        - $ref: '#/components/parameters/PathArtistId'
        - $ref: '#/components/parameters/QueryIncludeGroups'
        - $ref: '#/components/parameters/QueryMarket'
        - name: limit
          required: false
          in: query
          schema:
            title: Limit
            description: |
              The maximum number of items to return. Default: 5. Minimum: 1. Maximum: 10.
            default: 5
            example: 5
            type: integer
            minimum: 0
            maximum: 10
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingArtistDiscographyAlbumObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /artists/{id}/top-tracks:
    get:
      deprecated: true
      tags:
        - Artists
        - Tracks
      operationId: get-an-artists-top-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Artist's Top Tracks
      description: |
        Get Spotify catalog information about an artist's top tracks by country.
      parameters:
        - $ref: '#/components/parameters/PathArtistId'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /artists/{id}/related-artists:
    get:
      deprecated: true
      tags:
        - Artists
      operationId: get-an-artists-related-artists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Artist's Related Artists
      description: |
        Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's listening history.
      parameters:
        - $ref: '#/components/parameters/PathArtistId'
      responses:
        '200':
          $ref: '#/components/responses/ManyArtists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /shows/{id}:
    get:
      tags:
        - Shows
      operationId: get-a-show
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Show
      description: |
        Get Spotify catalog information for a single show identified by its
        unique Spotify ID.
      parameters:
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/PathShowId'
      responses:
        '200':
          $ref: '#/components/responses/OneShow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-read-playback-position
  /shows:
    get:
      deprecated: true
      tags:
        - Shows
      operationId: get-multiple-shows
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Several Shows
      description: |
        Get Spotify catalog information for several shows based on their Spotify IDs.
      parameters:
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryShowIds'
      responses:
        '200':
          $ref: '#/components/responses/ManySimplifiedShows'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /shows/{id}/episodes:
    get:
      tags:
        - Shows
        - Episodes
      operationId: get-a-shows-episodes
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Show Episodes
      description: |
        Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned.
      parameters:
        - $ref: '#/components/parameters/PathShowId'
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedEpisodeObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-read-playback-position
  /episodes/{id}:
    get:
      tags:
        - Episodes
      operationId: get-an-episode
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Episode
      description: |
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      parameters:
        - name: id
          required: true
          in: path
          schema:
            title: Get an Episode
            description:
              The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
              for the episode.
            example: 512ojhOuo1ktJprKbVcKyQ
            type: string
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneEpisode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-read-playback-position
  /episodes:
    get:
      deprecated: true
      tags:
        - Episodes
      operationId: get-multiple-episodes
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: |
        Get Several Episodes
      description: |
        Get Spotify catalog information for several episodes based on their Spotify IDs.
      parameters:
        - name: ids
          required: true
          in: query
          schema:
            title: Ids
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            type: string
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyEpisodes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-read-playback-position
  /audiobooks/{id}:
    get:
      operationId: get-an-audiobook
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Audiobooks
      summary: |
        Get an Audiobook
      description: |
        Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - $ref: '#/components/parameters/PathAudiobookId'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneAudiobook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /audiobooks:
    get:
      deprecated: true
      operationId: get-multiple-audiobooks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Audiobooks
      summary: |
        Get Several Audiobooks
      description: |
        Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - $ref: '#/components/parameters/QueryAudiobookIds'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyAudiobooks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /audiobooks/{id}/chapters:
    get:
      operationId: get-audiobook-chapters
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Audiobooks
        - Chapters
      summary: |
        Get Audiobook Chapters
      description: |
        Get Spotify catalog information about an audiobook's chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - $ref: '#/components/parameters/PathAudiobookId'
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedChapterObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /me/audiobooks:
    get:
      tags:
        - Audiobooks
        - Library
      operationId: get-users-saved-audiobooks
      summary: |
        Get User's Saved Audiobooks
      description: |
        Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedAudiobookObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
    put:
      deprecated: true
      tags:
        - Audiobooks
        - Library
      operationId: save-audiobooks-user
      summary: |
        Save Audiobooks for Current User
      description: |
        Save one or more audiobooks to the current Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        '200':
          description: Audiobook(s) are saved to the library
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
    delete:
      deprecated: true
      tags:
        - Audiobooks
        - Library
      operationId: remove-audiobooks-user
      summary: |
        Remove User's Saved Audiobooks
      description: |
        Remove one or more audiobooks from the Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        '200':
          description: Audiobook(s) have been removed from the library
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
  /me/audiobooks/contains:
    get:
      tags:
        - Audiobooks
        - Library
      operationId: check-users-saved-audiobooks
      summary: |
        Check User's Saved Audiobooks
      deprecated: true
      description: |
        Check if one or more audiobooks are already saved in the current Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Check User's Saved Items](/documentation/web-api/reference/check-library-contains) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAudiobookIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
  /chapters/{id}:
    get:
      operationId: get-a-chapter
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Chapters
      summary: |
        Get a Chapter
      description: |
        Get Spotify catalog information for a single audiobook chapter. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - $ref: '#/components/parameters/PathChapterId'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneChapter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /chapters:
    get:
      deprecated: true
      operationId: get-several-chapters
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
        - Chapters
      summary: |
        Get Several Chapters
      description: |
        Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - $ref: '#/components/parameters/QueryChapterIds'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyChapters'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /tracks/{id}:
    get:
      tags:
        - Tracks
      operationId: get-track
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: |
        Get Track
      description: |
        Get Spotify catalog information for a single track identified by its
        unique Spotify ID.
      parameters:
        - name: id
          required: true
          in: path
          schema:
            title: Spotify Track ID
            description: |
              The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
              for the track.
            example: 11dFghVXANMlKmJXsNCbNl
            type: string
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneTrack'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /tracks:
    get:
      deprecated: true
      tags:
        - Tracks
      operationId: get-several-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: |
        Get Several Tracks
      description: |
        Get Spotify catalog information for multiple tracks based on their Spotify IDs.
      parameters:
        - $ref: '#/components/parameters/QueryMarket'
        - name: ids
          required: true
          in: query
          schema:
            title: Spotify Track IDs
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 50 IDs.
            example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /search:
    get:
      tags:
        - Search
      operationId: search
      x-spotify-policy-list:
        - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: |
        Search for Item
      description: |
        Get Spotify catalog information about albums, artists, playlists, tracks, shows, episodes or audiobooks
        that match a keyword string. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      parameters:
        - name: q
          required: true
          in: query
          schema:
            title: Query
            description: |
              Your search query.

              You can narrow down your search using field filters. The available filters are `album`, `artist`, `track`, `year`, `upc`, `tag:hipster`, `tag:new`, `isrc`, and `genre`. Each field filter only applies to certain result types.

              The `artist` and `year` filters can be used while searching albums, artists and tracks. You can filter on a single `year` or a range (e.g. 1955-1960).<br />
              The `album` filter can be used while searching albums and tracks.<br />
              The `genre` filter can be used while searching artists and tracks.<br />
              The `isrc` and `track` filters can be used while searching tracks.<br />
              The `upc`, `tag:new` and `tag:hipster` filters can only be used while searching albums. The `tag:new` filter will return albums released in the past two weeks and `tag:hipster` can be used to return only albums with the lowest 10% popularity.<br />

            example: remaster%20track:Doxy%20artist:Miles%20Davis
            type: string
        - name: type
          required: true
          explode: false
          in: query
          schema:
            title: Item type
            description: |
              A comma-separated list of item types to search across. Search results include hits
              from all the specified item types. For example: `q=abacab&type=album,track` returns
              both albums and tracks matching "abacab".
            items:
              type: string
              enum:
                - album
                - artist
                - playlist
                - track
                - show
                - episode
                - audiobook
            type: array
        - $ref: '#/components/parameters/QueryMarket'
        - name: limit
          required: false
          in: query
          schema:
            title: Limit
            description: |
              The maximum number of results to return in each item type.
            default: 5
            example: 10
            type: integer
            minimum: 0
            maximum: 10
        - name: offset
          required: false
          in: query
          schema:
            title: Offset
            description: |
              The index of the first result to return. Use
              with limit to get the next page of search results.
            default: 0
            minimum: 0
            maximum: 1000
            example: 5
            type: integer
        - name: include_external
          required: false
          in: query
          schema:
            title: Include External
            description: |
              If `include_external=audio` is specified it signals that the client can play externally hosted audio content, and marks
              the content as playable in the response. By default externally hosted audio content is marked as unplayable in the response.
            type: string
            enum:
              - audio
      responses:
        '200':
          $ref: '#/components/responses/SearchItems'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /me:
    get:
      tags:
        - Users
      operationId: get-current-users-profile
      summary: |
        Get Current User's Profile
      description: |
        Get detailed profile information about the current user (including the
        current user's username).
      responses:
        '200':
          $ref: '#/components/responses/OnePrivateUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-read-private
            - user-read-email
  /playlists/{playlist_id}:
    get:
      tags:
        - Playlists
      operationId: get-playlist
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: |
        Get Playlist
      description: |
        Get a playlist owned by a Spotify user.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - $ref: '#/components/parameters/QueryMarket'
        - name: fields
          required: false
          in: query
          schema:
            title: Fields
            description: |
              Filters for the query: a comma-separated list of the
              fields to return. If omitted, all fields are returned. For example, to get
              just the playlist''s description and URI: `fields=description,uri`. A dot
              separator can be used to specify non-reoccurring fields, while parentheses
              can be used to specify reoccurring fields within objects. For example, to
              get just the added date and user ID of the adder: `fields=tracks.items(added_at,added_by.id)`.
              Use multiple parentheses to drill down into nested objects, for example: `fields=tracks.items(track(name,href,album(name,href)))`.
              Fields can be excluded by prefixing them with an exclamation mark, for example:
              `fields=tracks.items(track(name,href,album(!name,href)))`
            example: items(added_by.id,track(name,href,album(name,href)))
            type: string
        - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/OnePlaylist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
    put:
      tags:
        - Playlists
        - Library
      operationId: change-playlist-details
      summary: |
        Change Playlist Details
      description: |
        Change a playlist's name and public/private state. (The user must, of
        course, own the playlist.)
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: Updated Playlist Name
                description: Updated playlist description
                public: false
              type: object
              additionalProperties: true
              properties:
                name:
                  type: string
                  description: |
                    The new name for the playlist, for example `"My New Playlist Title"`
                public:
                  type: boolean
                  description: |
                    The playlist's public/private status (if it should be added to the user's profile or not): `true` the playlist will be public, `false` the playlist will be private, `null` the playlist status is not relevant. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)
                collaborative:
                  type: boolean
                  description: |
                    If `true`, the playlist will become collaborative and other users will be able to modify the playlist in their Spotify client. <br/>
                    _**Note**: You can only set `collaborative` to `true` on non-public playlists._
                description:
                  type: string
                  description: |
                    Value for playlist description as displayed in Spotify Clients and in the Web API.
      responses:
        '200':
          description: Playlist updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /playlists/{playlist_id}/tracks:
    get:
      tags:
        - Playlists
        - Tracks
      operationId: get-playlists-tracks
      deprecated: true
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: |
        Get Playlist Items [DEPRECATED]
      description: |
        **Deprecated:** Use [Get Playlist Items](/documentation/web-api/reference/get-playlists-items) instead.

        Get full details of the items of a playlist owned by a Spotify user.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - $ref: '#/components/parameters/QueryMarket'
        - name: fields
          required: false
          in: query
          schema:
            title: Fields
            description: |
              Filters for the query: a comma-separated list of the
              fields to return. If omitted, all fields are returned. For example, to get
              just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A
              dot separator can be used to specify non-reoccurring fields, while parentheses
              can be used to specify reoccurring fields within objects. For example, to
              get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use
              multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields
              can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`
            example: items(added_by.id,track(name,href,album(name,href)))
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
        - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-read-private
    post:
      tags:
        - Playlists
        - Tracks
      operationId: add-tracks-to-playlist
      deprecated: true
      summary: |
        Add Items to Playlist [DEPRECATED]
      description: |
        **Deprecated:** Use [Add Items to Playlist](/documentation/web-api/reference/add-items-to-playlist) instead.

        Add one or more items to a user's playlist.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - name: position
          required: false
          in: query
          schema:
            title: Position (append by default)
            description: |
              The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0`; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.
            example: 0
            type: integer
        - name: uris
          required: false
          in: query
          schema:
            title: Spotify Track URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be added in one request. <br/>
              _**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._
            example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: |
                    A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A maximum of 100 items can be added in one request. _**Note**: if the `uris` parameter is present in the query string, any URIs listed here in the body will be ignored._
                  type: array
                  items:
                    type: string
                position:
                  description: |
                    The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0` ; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`
                  type: integer
      responses:
        '201':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
    put:
      tags:
        - Playlists
        - Tracks
      operationId: reorder-or-replace-playlists-tracks
      deprecated: true
      summary: |
        Update Playlist Items [DEPRECATED]
      description: |
        **Deprecated:** Use [Update Playlist Items](/documentation/web-api/reference/reorder-or-replace-playlists-items) instead.

        Either reorder or replace items in a playlist depending on the request's parameters.
        To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request's body.
        To replace items, include `uris` as either a query parameter or in the request's body.
        Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.
        <br/>
        **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.
        These operations can't be applied together in a single request.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - name: uris
          required: false
          in: query
          schema:
            title: Spotify Track URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be set in one request.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: |
                    The position of the first item to be reordered.
                insert_before:
                  type: integer
                  description: |
                    The position where the items should be inserted.<br/>To reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.<br/>Examples:<br/>To reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.
                range_length:
                  type: integer
                  description: |
                    The amount of items to be reordered. Defaults to 1 if not set.<br/>The range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
    delete:
      tags:
        - Playlists
        - Tracks
      operationId: remove-tracks-playlist
      deprecated: true
      summary: |
        Remove Playlist Items [DEPRECATED]
      description: |
        **Deprecated:** Use [Remove Playlist Items](/documentation/web-api/reference/remove-items-playlist) instead.

        Remove one or more items from a user's playlist.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
      requestBody: # Request body in DELETE is allowed, but discouraged (https://github.com/OAI/OpenAPI-Specification/pull/2117).
        content:
          application/json:
            schema:
              type: object
              required:
                - tracks
              properties:
                tracks:
                  type: array
                  description: |
                    An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.
                    For example: `{ "tracks": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`. A maximum of 100 objects can be sent at once.
                  items:
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Spotify URI
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
                    The API will validate that the specified items exist and in the specified positions and make the changes,
                    even if more recent changes have been made to the playlist.
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /playlists/{playlist_id}/items:
    get:
      tags:
        - Playlists
        - Tracks
      operationId: get-playlists-items
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: |
        Get Playlist Items
      description: |
        Get full details of the items of a playlist owned by a Spotify user.

        **Note**: This endpoint is only accessible for playlists owned by the current user or playlists the user is a collaborator of. A `403 Forbidden` status code will be returned if the user is neither the owner nor a collaborator of the playlist.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - $ref: '#/components/parameters/QueryMarket'
        - name: fields
          required: false
          in: query
          schema:
            title: Fields
            description: |
              Filters for the query: a comma-separated list of the
              fields to return. If omitted, all fields are returned. For example, to get
              just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A
              dot separator can be used to specify non-reoccurring fields, while parentheses
              can be used to specify reoccurring fields within objects. For example, to
              get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use
              multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields
              can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`
            example: items(added_by.id,track(name,href,album(name,href)))
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
        - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-read-private
    post:
      tags:
        - Playlists
        - Tracks
      operationId: add-items-to-playlist
      summary: |
        Add Items to Playlist
      description: |
        Add one or more items to a user's playlist.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - name: position
          required: false
          in: query
          schema:
            title: Position (append by default)
            description: |
              The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0`; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.
            example: 0
            type: integer
        - name: uris
          required: false
          in: query
          schema:
            title: Spotify Track URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be added in one request. <br/>
              _**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._
            example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: |
                    A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A maximum of 100 items can be added in one request. _**Note**: if the `uris` parameter is present in the query string, any URIs listed here in the body will be ignored._
                  type: array
                  items:
                    type: string
                position:
                  description: |
                    The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0` ; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`
                  type: integer
      responses:
        '201':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
    put:
      tags:
        - Playlists
        - Tracks
      operationId: reorder-or-replace-playlists-items
      summary: |
        Update Playlist Items
      description: |
        Either reorder or replace items in a playlist depending on the request's parameters.
        To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request's body.
        To replace items, include `uris` as either a query parameter or in the request's body.
        Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.
        <br/>
        **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.
        These operations can't be applied together in a single request.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
        - name: uris
          required: false
          in: query
          schema:
            title: Spotify Track URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be set in one request.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: |
                    The position of the first item to be reordered.
                insert_before:
                  type: integer
                  description: |
                    The position where the items should be inserted.<br/>To reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.<br/>Examples:<br/>To reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.
                range_length:
                  type: integer
                  description: |
                    The amount of items to be reordered. Defaults to 1 if not set.<br/>The range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
    delete:
      tags:
        - Playlists
        - Tracks
      operationId: remove-items-playlist
      summary: |
        Remove Playlist Items
      description: |
        Remove one or more items from a user's playlist.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  description: |
                    An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.
                    For example: `{ "items": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`. A maximum of 100 objects can be sent at once.
                  items:
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Spotify URI
                snapshot_id:
                  type: string
                  description: |
                    The playlist's snapshot ID against which you want to make the changes.
                    The API will validate that the specified items exist and in the specified positions and make the changes,
                    even if more recent changes have been made to the playlist.
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /me/playlists:
    get:
      tags:
        - Playlists
        - Library
      operationId: get-a-list-of-current-users-playlists
      summary: |
        Get Current User's Playlists
      description: |
        Get a list of the playlists owned or followed by the current Spotify
        user.
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - name: offset
          required: false
          in: query
          schema:
            title: Offset
            description: |
              'The index of the first playlist to return. Default:
              0 (the first object). Maximum offset: 100.000\. Use with `limit` to get the
              next set of playlists.'
            default: 0
            example: 5
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/PagedPlaylists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-read-private
    post:
      tags:
        - Playlists
        - Library
      operationId: create-playlist
      summary: |
        Create Playlist
      description: |
        Create a playlist for the current Spotify user. (The playlist will be empty until
        you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)
        Each user is generally limited to a maximum of 11000 playlists.
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Playlist
                description: New playlist description
                public: false
              type: object
              additionalProperties: true
              required:
                - name
              properties:
                name:
                  type: string
                  description: |
                    The name for the new playlist, for example `"Your Coolest Playlist"`. This name does not need to be unique; a user may have several playlists with the same name.
                public:
                  type: boolean
                  description: |
                    Defaults to `true`. The playlist's public/private status (if it should be added to the user's profile or not): `true` the playlist will be public, `false` the playlist will be private. To be able to create private playlists, the user must have granted the `playlist-modify-private` [scope](/documentation/web-api/concepts/scopes/#list-of-scopes). For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)
                collaborative:
                  type: boolean
                  description: |
                    Defaults to `false`. If `true` the playlist will be collaborative. _**Note**: to create a collaborative playlist you must also set `public` to `false`. To create collaborative playlists you must have granted `playlist-modify-private` and `playlist-modify-public` [scopes](/documentation/web-api/concepts/scopes/#list-of-scopes)._
                description:
                  type: string
                  description: |
                    value for playlist description as displayed in Spotify Clients and in the Web API.
      responses:
        '201':
          $ref: '#/components/responses/OnePlaylist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /me/library:
    put:
      tags:
        - Library
      operationId: save-library-items
      summary: |
        Save Items to Library
      description: |
        Add one or more items to the current user's library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, users, and playlists.
      parameters:
        - name: uris
          required: true
          in: query
          schema:
            title: Spotify URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.

              Supported URI types:
              - `spotify:track:{id}`
              - `spotify:album:{id}`
              - `spotify:episode:{id}`
              - `spotify:show:{id}`
              - `spotify:audiobook:{id}`
              - `spotify:user:{id}`
              - `spotify:playlist:{id}`
            example: spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy
            type: string
      responses:
        '200':
          description: Items saved to library
        '400':
          description: |
            Bad Request. Possible reasons: missing `uris` parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
            - user-follow-modify
            - playlist-modify-public
    delete:
      tags:
        - Library
      operationId: remove-library-items
      summary: |
        Remove Items from Library
      description: |
        Remove one or more items from the current user's library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, users, and playlists.
      parameters:
        - name: uris
          required: true
          in: query
          schema:
            title: Spotify URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.

              Supported URI types:
              - `spotify:track:{id}`
              - `spotify:album:{id}`
              - `spotify:episode:{id}`
              - `spotify:show:{id}`
              - `spotify:audiobook:{id}`
              - `spotify:user:{id}`
              - `spotify:playlist:{id}`
            example: spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy
            type: string
      responses:
        '200':
          description: Items removed from library
        '400':
          description: |
            Bad Request. Possible reasons: missing `uris` parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
            - user-follow-modify
            - playlist-modify-public
  /me/library/contains:
    get:
      tags:
        - Library
      operationId: check-library-contains
      summary: |
        Check User's Saved Items
      description: |
        Check if one or more items are already saved in the current user's library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, artists, users, and playlists.
      parameters:
        - name: uris
          required: true
          in: query
          schema:
            title: Spotify URIs
            description: |
              A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.

              Supported URI types:
              - `spotify:track:{id}`
              - `spotify:album:{id}`
              - `spotify:episode:{id}`
              - `spotify:show:{id}`
              - `spotify:audiobook:{id}`
              - `spotify:artist:{id}`
              - `spotify:user:{id}`
              - `spotify:playlist:{id}`
            example: spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy,spotify:artist:2takcwOaAZWiXQijPHIx7B
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '400':
          description: |
            Bad Request. Possible reasons: missing `uris` parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
            - user-follow-read
            - playlist-read-private
  /me/albums:
    get:
      tags:
        - Albums
        - Library
      operationId: get-users-saved-albums
      summary: |
        Get User's Saved Albums
      description: |
        Get a list of the albums saved in the current Spotify user's 'Your Music' library.
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/PagingSavedAlbumObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
    put:
      deprecated: true
      tags:
        - Albums
        - Library
      operationId: save-albums-user
      summary: |
        Save Albums for Current User
      description: |
        Save one or more albums to the current user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAlbumIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        '200':
          description: The album is saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
    delete:
      deprecated: true
      tags:
        - Albums
        - Library
      operationId: remove-albums-user
      summary: |
        Remove Users' Saved Albums
      description: |
        Remove one or more albums from the current user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAlbumIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        '200':
          description: Album(s) have been removed from the library
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
  /me/albums/contains:
    get:
      tags:
        - Albums
        - Library
      operationId: check-users-saved-albums
      summary: |
        Check User's Saved Albums
      deprecated: true
      description: |
        Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Check User's Saved Items](/documentation/web-api/reference/check-library-contains) instead.
      parameters:
        - $ref: '#/components/parameters/QueryAlbumIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
  /me/tracks:
    get:
      tags:
        - Tracks
        - Library
      operationId: get-users-saved-tracks
      summary: |
        Get User's Saved Tracks
      description: |
        Get a list of the songs saved in the current Spotify user's 'Your Music' library.
      parameters:
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSavedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
    put:
      deprecated: true
      tags:
        - Tracks
        - Library
      operationId: save-tracks-user
      summary: |
        Save Tracks for Current User
      description: |
        Save one or more tracks to the current user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
                - uris
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._
                  items:
                    type: string
                timestamped_ids:
                  type: array
                  description: |
                    A JSON array of objects containing track IDs with their corresponding timestamps. Each object must include a track ID and an `added_at` timestamp. This allows you to specify when tracks were added to maintain a specific chronological order in the user's library.<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._
                  items:
                    type: object
                    required:
                      - id
                      - added_at
                    properties:
                      id:
                        type: string
                        description: |
                          The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
                      added_at:
                        type: string
                        format: date-time
                        x-spotify-docs-type: Timestamp
                        description: |
                          The timestamp when the track was added to the library. Use ISO 8601 format with UTC timezone (e.g., `2023-01-15T14:30:00Z`). You can specify past timestamps to insert tracks at specific positions in the library's chronological order. The API uses minute-level granularity for ordering, though the timestamp supports millisecond precision.
      responses:
        '200':
          description: Track saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
    delete:
      deprecated: true
      tags:
        - Tracks
        - Library
      operationId: remove-tracks-user
      summary: |
        Remove User's Saved Tracks
      description: |
        Remove one or more tracks from the current user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        '200':
          description: Track removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
  /me/tracks/contains:
    get:
      tags:
        - Tracks
        - Library
      operationId: check-users-saved-tracks
      summary: |
        Check User's Saved Tracks
      deprecated: true
      description: |
        Check if one or more tracks is already saved in the current Spotify user's 'Your Music' library.

        **Note:** This endpoint is deprecated. Use [Check User's Saved Items](/documentation/web-api/reference/check-library-contains) instead.
      parameters:
        - $ref: '#/components/parameters/QueryTrackIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
  /me/episodes:
    get:
      tags:
        - Episodes
        - Library
      operationId: get-users-saved-episodes
      summary: |
        Get User's Saved Episodes
      description: |
        Get a list of the episodes saved in the current Spotify user's library.
      parameters:
        - $ref: '#/components/parameters/QueryMarket'
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSavedEpisodeObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
            - user-read-playback-position
    put:
      deprecated: true
      tags:
        - Episodes
        - Library
      operationId: save-episodes-user
      summary: |
        Save Episodes for Current User
      description: |
        Save one or more episodes to the current user's library.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      parameters:
        - name: ids
          required: true
          in: query
          schema:
            title: Spotify Episodes IDs
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
                - uris
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        '200':
          description: Episode saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
    delete:
      deprecated: true
      tags:
        - Episodes
        - Library
      operationId: remove-episodes-user
      summary: |
        Remove User's Saved Episodes
      description: |
        Remove one or more episodes from the current user's library.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: |
                    A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). <br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._
                  items:
                    type: string
      responses:
        '200':
          description: Episode removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
  /me/episodes/contains:
    get:
      tags:
        - Episodes
        - Library
      operationId: check-users-saved-episodes
      summary: |
        Check User's Saved Episodes
      deprecated: true
      description: |
        Check if one or more episodes is already saved in the current Spotify user's 'Your Episodes' library.

        **Note:** This endpoint is deprecated. Use [Check User's Saved Items](/documentation/web-api/reference/check-library-contains) instead.
      parameters:
        - name: ids
          required: true
          in: query
          schema:
            title: Spotify Episode IDs
            description: |
              A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
            example: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
  /me/shows:
    get:
      tags:
        - Shows
        - Library
      operationId: get-users-saved-shows
      summary: |
        Get User's Saved Shows
      description: |
        Get a list of shows saved in the current Spotify user's library. Optional parameters can be used to limit the number of shows returned.
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '200':
          $ref: '#/components/responses/PagingSavedShowObject'
      security:
        - oauth_2_0:
            - user-library-read
    put:
      deprecated: true
      tags:
        - Shows
        - Library
      operationId: save-shows-user
      summary: |
        Save Shows for Current User
      description: |
        Save one or more shows to current Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryShowIds'
      responses:
        '200':
          description: Show saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
    delete:
      deprecated: true
      tags:
        - Shows
        - Library
      operationId: remove-shows-user
      summary: |
        Remove User's Saved Shows
      description: |
        Delete one or more shows from current Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/QueryShowIds'
        - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          description: Show removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-modify
  /me/shows/contains:
    get:
      tags:
        - Shows
        - Library
      operationId: check-users-saved-shows
      summary: |
        Check User's Saved Shows
      deprecated: true
      description: |
        Check if one or more shows is already saved in the current Spotify user's library.

        **Note:** This endpoint is deprecated. Use [Check User's Saved Items](/documentation/web-api/reference/check-library-contains) instead.
      parameters:
        - $ref: '#/components/parameters/QueryShowIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-library-read
  /me/top/{type}:
    get:
      tags:
        - Users
        - Tracks
        - Library
      operationId: get-users-top-artists-and-tracks
      summary: |
        Get User's Top Items
      description: |
        Get the current user's top artists or tracks based on calculated affinity.
      parameters:
        - name: type
          required: true
          in: path
          schema:
            title: Type
            description: |
              The type of entity to return. Valid values: `artists` or `tracks`
            enum: ['artists', 'tracks']
            type: string
        - name: time_range
          required: false
          in: query
          schema:
            title: Time Range
            description: |
              Over what time frame the affinities are computed. Valid values: `long_term` (calculated from ~1 year of data and including all new data as it becomes available), `medium_term` (approximately last 6 months), `short_term` (approximately last 4 weeks). Default: `medium_term`
            default: medium_term
            example: medium_term
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingArtistOrTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - user-top-read
  /users/{user_id}:
    get:
      deprecated: true
      tags:
        - Users
      operationId: get-users-profile
      summary: |
        Get User's Profile
      description: |
        Get public profile information about a Spotify user.
      parameters:
        - $ref: '#/components/parameters/PathUserId'
      responses:
        '200':
          $ref: '#/components/responses/OnePublicUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /users/{user_id}/playlists:
    get:
      deprecated: true
      tags:
        - Playlists
        - Users
      operationId: get-list-users-playlists
      summary: |
        Get User's Playlists
      description: |
        Get a list of the playlists owned or followed by a Spotify user.
      parameters:
        - $ref: '#/components/parameters/PathUserId'
        - $ref: '#/components/parameters/QueryLimit'
        - name: offset
          required: false
          in: query
          schema:
            title: Offset
            description: |
              The index of the first playlist to return. Default:
              0 (the first object). Maximum offset: 100.000\. Use with `limit` to get the
              next set of playlists.
            default: 0
            example: 5
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/PagedPlaylists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-read-private
            - playlist-read-collaborative
    post:
      tags:
        - Playlists
        - Library
      operationId: create-playlist-for-user
      deprecated: true
      summary: |
        Create Playlist for user
      description: |
        **Deprecated**: Use [Create Playlist](/documentation/web-api/reference/create-playlist) instead.

        Create a playlist for a Spotify user. (The playlist will be empty until
        you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)
        Each user is generally limited to a maximum of 11000 playlists.
      parameters:
        - $ref: '#/components/parameters/PathUserId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: New Playlist
                description: New playlist description
                public: false
              type: object
              additionalProperties: true
              required:
                - name
              properties:
                name:
                  type: string
                  description: |
                    The name for the new playlist, for example `"Your Coolest Playlist"`. This name does not need to be unique; a user may have several playlists with the same name.
                public:
                  type: boolean
                  description: |
                    Defaults to `true`. The playlist's public/private status (if it should be added to the user's profile or not): `true` the playlist will be public, `false` the playlist will be private. To be able to create private playlists, the user must have granted the `playlist-modify-private` [scope](/documentation/web-api/concepts/scopes/#list-of-scopes). For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)
                collaborative:
                  type: boolean
                  description: |
                    Defaults to `false`. If `true` the playlist will be collaborative. _**Note**: to create a collaborative playlist you must also set `public` to `false`. To create collaborative playlists you must have granted `playlist-modify-private` and `playlist-modify-public` [scopes](/documentation/web-api/concepts/scopes/#list-of-scopes)._
                description:
                  type: string
                  description: |
                    value for playlist description as displayed in Spotify Clients and in the Web API.
      responses:
        '201':
          $ref: '#/components/responses/OnePlaylist'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /playlists/{playlist_id}/followers:
    put:
      deprecated: true
      tags:
        - Users
        - Playlists
      operationId: follow-playlist
      description: |
        Add the current user as a follower of a playlist.

        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.
      summary: |
        Follow Playlist
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              example:
                public: false
              type: object
              additionalProperties: true
              properties:
                public:
                  type: boolean
                  description: |
                    Defaults to `true`. If `true` the playlist will be included in user's public playlists (added to profile), if `false` it will remain private. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)
      responses:
        '200':
          description: Playlist followed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
    delete:
      deprecated: true
      tags:
        - Users
        - Playlists
      operationId: unfollow-playlist
      summary: |
        Unfollow Playlist
      description: |
        Remove the current user as a follower of a playlist.

        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.
      parameters:
        - $ref: '#/components/parameters/PathPlaylistId'
      responses:
        '200':
          description: Playlist unfollowed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0:
            - playlist-modify-public
            - playlist-modify-private
  /browse/featured-playlists:
    get:
      deprecated: true
      tags:
        - Playlists
      operationId: get-featured-playlists
      x-spotify-policy-list:
        - $ref: '#/components/x-spotify-policy/policies/MultipleIntegrations'
      summary: |
        Get Featured Playlists
      description: |
        Get a list of Spotify featured playlists (shown, for example, on a Spotify player's 'Browse' tab).
      parameters:
        - name: locale
          required: false
          in: query
          schema:
            title: Locale
            description: |
              The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
            example: sv_SE
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagedFeaturedPlaylists'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /browse/categories:
    get:
      deprecated: true
      tags:
        - Categories
      operationId: get-categories
      summary: |
        Get Several Browse Categories
      description: |
        Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      parameters:
        - name: locale
          required: false
          in: query
          schema:
            title: Locale
            description: |
              The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
            example: sv_SE
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagedCategories'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /browse/categories/{category_id}:
    get:
      deprecated: true
      tags:
        - Categories
      operationId: get-a-category
      summary: |
        Get Single Browse Category
      description: |
        Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
      parameters:
        - name: category_id
          required: true
          in: path
          schema:
            title: Category ID
            description: |
              The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
            example: dinner
            type: string
        - name: locale
          required: false
          in: query
          schema:
            title: Locale
            description: |
              The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: `es_MX`, meaning &quot;Spanish (Mexico)&quot;. Provide this parameter if you want the category strings returned in a particular language.<br/> _**Note**: if `locale` is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._
            example: sv_SE
            type: string
      responses:
        '200':
          $ref: '#/components/responses/OneCategory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - oauth_2_0: []
  /browse/categories/{category_id}/playlists:
    get:
      deprecated: true
      tags:
        - Playlists
        - Categories
      operationId: get-a-categories-playlists
      summary: |
        Get Category's Playlists
      description: |
        Get a list of Spotify playlists tagged with a particular category.
      parameters:
        - name: category_id
          required: true
          in: path
          schema:
            title: Category ID
            description: |
              The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.
            example: dinner
            type: string
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagedFeaturedPlaylists'
        '401':
[...]
