{"openapi":"3.0.3","info":{"description":"You can use Spotify\u0027s Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.\n\nIn order to make successful Web API requests your app will need a valid access token. One can be obtained through \u003Ca href=\u0022https://developer.spotify.com/documentation/general/guides/authorization-guide/\u0022\u003EOAuth 2.0\u003C/a\u003E.\n\nThe base URI for all Web API requests is \u0060https://api.spotify.com/v1\u0060.\n\nNeed help? See our \u003Ca href=\u0022https://developer.spotify.com/documentation/web-api/guides/\u0022\u003EWeb API guides\u003C/a\u003E for more information, or visit the \u003Ca href=\u0022https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer\u0022\u003ESpotify for Developers community forum\u003C/a\u003E to ask questions and connect with other developers.\n","version":"1.0.0","title":"Spotify Web API","termsOfService":"https://developer.spotify.com/terms/","contact":{"name":"Spotify for Developers Community","url":"https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer"}},"servers":[{"url":"https://api.spotify.com/v1"}],"tags":[{"name":"Albums"},{"name":"Artists"},{"name":"Audiobooks"},{"name":"Categories"},{"name":"Chapters"},{"name":"Episodes"},{"name":"Library"},{"name":"Genres"},{"name":"Markets"},{"name":"Player"},{"name":"Playlists"},{"name":"Search"},{"name":"Shows"},{"name":"Tracks"},{"name":"Users"}],"paths":{"/albums/{id}":{"get":{"operationId":"get-an-album","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Albums"],"summary":"Get Album\n","description":"Get Spotify catalog information for a single album.\n","parameters":[{"$ref":"#/components/parameters/PathAlbumId"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/OneAlbum"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/albums":{"get":{"deprecated":true,"operationId":"get-multiple-albums","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Albums"],"summary":"Get Several Albums\n","description":"Get Spotify catalog information for multiple albums identified by their Spotify IDs.\n","parameters":[{"$ref":"#/components/parameters/QueryAlbumIds"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/ManyAlbums"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/albums/{id}/tracks":{"get":{"operationId":"get-an-albums-tracks","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Albums","Tracks"],"summary":"Get Album Tracks\n","description":"Get Spotify catalog information about an album\u2019s tracks.\nOptional parameters can be used to limit the number of tracks returned.\n","parameters":[{"$ref":"#/components/parameters/PathAlbumId"},{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSimplifiedTrackObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/artists/{id}":{"get":{"tags":["Artists"],"operationId":"get-an-artist","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Artist\n","description":"Get Spotify catalog information for a single artist identified by their unique Spotify ID.\n","parameters":[{"$ref":"#/components/parameters/PathArtistId"}],"responses":{"200":{"$ref":"#/components/responses/OneArtist"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/artists":{"get":{"deprecated":true,"tags":["Artists"],"operationId":"get-multiple-artists","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Several Artists\n","description":"Get Spotify catalog information for several artists based on their Spotify IDs.\n","parameters":[{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify Artist IDs","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 50 IDs.\n","example":"2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ManyArtists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/artists/{id}/albums":{"get":{"tags":["Artists","Albums"],"operationId":"get-an-artists-albums","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Artist\u0027s Albums\n","description":"Get Spotify catalog information about an artist\u0027s albums.\n","parameters":[{"$ref":"#/components/parameters/PathArtistId"},{"$ref":"#/components/parameters/QueryIncludeGroups"},{"$ref":"#/components/parameters/QueryMarket"},{"name":"limit","required":false,"in":"query","schema":{"title":"Limit","description":"The maximum number of items to return. Default: 5. Minimum: 1. Maximum: 10.\n","default":5,"example":5,"type":"integer","minimum":0,"maximum":10}},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingArtistDiscographyAlbumObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/artists/{id}/top-tracks":{"get":{"deprecated":true,"tags":["Artists","Tracks"],"operationId":"get-an-artists-top-tracks","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Artist\u0027s Top Tracks\n","description":"Get Spotify catalog information about an artist\u0027s top tracks by country.\n","parameters":[{"$ref":"#/components/parameters/PathArtistId"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/ManyTracks"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/artists/{id}/related-artists":{"get":{"deprecated":true,"tags":["Artists"],"operationId":"get-an-artists-related-artists","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Artist\u0027s Related Artists\n","description":"Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community\u0027s listening history.\n","parameters":[{"$ref":"#/components/parameters/PathArtistId"}],"responses":{"200":{"$ref":"#/components/responses/ManyArtists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/shows/{id}":{"get":{"tags":["Shows"],"operationId":"get-a-show","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Show\n","description":"Get Spotify catalog information for a single show identified by its\nunique Spotify ID.\n","parameters":[{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/PathShowId"}],"responses":{"200":{"$ref":"#/components/responses/OneShow"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-read-playback-position"]}]}},"/shows":{"get":{"deprecated":true,"tags":["Shows"],"operationId":"get-multiple-shows","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Several Shows\n","description":"Get Spotify catalog information for several shows based on their Spotify IDs.\n","parameters":[{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryShowIds"}],"responses":{"200":{"$ref":"#/components/responses/ManySimplifiedShows"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/shows/{id}/episodes":{"get":{"tags":["Shows","Episodes"],"operationId":"get-a-shows-episodes","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Show Episodes\n","description":"Get Spotify catalog information about an show\u2019s episodes. Optional parameters can be used to limit the number of episodes returned.\n","parameters":[{"$ref":"#/components/parameters/PathShowId"},{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSimplifiedEpisodeObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-read-playback-position"]}]}},"/episodes/{id}":{"get":{"tags":["Episodes"],"operationId":"get-an-episode","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Episode\n","description":"Get Spotify catalog information for a single episode identified by its\nunique Spotify ID.\n","parameters":[{"name":"id","required":true,"in":"path","schema":{"title":"Get an Episode","description":"The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.","example":"512ojhOuo1ktJprKbVcKyQ","type":"string"}},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/OneEpisode"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-read-playback-position"]}]}},"/episodes":{"get":{"deprecated":true,"tags":["Episodes"],"operationId":"get-multiple-episodes","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"summary":"Get Several Episodes\n","description":"Get Spotify catalog information for several episodes based on their Spotify IDs.\n","parameters":[{"name":"ids","required":true,"in":"query","schema":{"title":"Ids","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.\n","example":"77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf","type":"string"}},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/ManyEpisodes"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-read-playback-position"]}]}},"/audiobooks/{id}":{"get":{"operationId":"get-an-audiobook","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Audiobooks"],"summary":"Get an Audiobook\n","description":"Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"$ref":"#/components/parameters/PathAudiobookId"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/OneAudiobook"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/audiobooks":{"get":{"deprecated":true,"operationId":"get-multiple-audiobooks","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Audiobooks"],"summary":"Get Several Audiobooks\n","description":"Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"$ref":"#/components/parameters/QueryAudiobookIds"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/ManyAudiobooks"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/audiobooks/{id}/chapters":{"get":{"operationId":"get-audiobook-chapters","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Audiobooks","Chapters"],"summary":"Get Audiobook Chapters\n","description":"Get Spotify catalog information about an audiobook\u0027s chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"$ref":"#/components/parameters/PathAudiobookId"},{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSimplifiedChapterObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/me/audiobooks":{"get":{"tags":["Audiobooks","Library"],"operationId":"get-users-saved-audiobooks","summary":"Get User\u0027s Saved Audiobooks\n","description":"Get a list of the audiobooks saved in the current Spotify user\u0027s \u0027Your Music\u0027 library.\n","parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSimplifiedAudiobookObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]},"put":{"deprecated":true,"tags":["Audiobooks","Library"],"operationId":"save-audiobooks-user","summary":"Save Audiobooks for Current User\n","description":"Save one or more audiobooks to the current Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAudiobookIds"}],"responses":{"200":{"description":"Audiobook(s) are saved to the library"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]},"delete":{"deprecated":true,"tags":["Audiobooks","Library"],"operationId":"remove-audiobooks-user","summary":"Remove User\u0027s Saved Audiobooks\n","description":"Remove one or more audiobooks from the Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAudiobookIds"}],"responses":{"200":{"description":"Audiobook(s) have been removed from the library"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]}},"/me/audiobooks/contains":{"get":{"tags":["Audiobooks","Library"],"operationId":"check-users-saved-audiobooks","summary":"Check User\u0027s Saved Audiobooks\n","deprecated":true,"description":"Check if one or more audiobooks are already saved in the current Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAudiobookIds"}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]}},"/chapters/{id}":{"get":{"operationId":"get-a-chapter","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Chapters"],"summary":"Get a Chapter\n","description":"Get Spotify catalog information for a single audiobook chapter. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"$ref":"#/components/parameters/PathChapterId"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/OneChapter"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/chapters":{"get":{"deprecated":true,"operationId":"get-several-chapters","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataPolicyList"},"tags":["Chapters"],"summary":"Get Several Chapters\n","description":"Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"$ref":"#/components/parameters/QueryChapterIds"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/ManyChapters"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/tracks/{id}":{"get":{"tags":["Tracks"],"operationId":"get-track","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Track\n","description":"Get Spotify catalog information for a single track identified by its\nunique Spotify ID.\n","parameters":[{"name":"id","required":true,"in":"path","schema":{"title":"Spotify Track ID","description":"The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\nfor the track.\n","example":"11dFghVXANMlKmJXsNCbNl","type":"string"}},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/OneTrack"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/tracks":{"get":{"deprecated":true,"tags":["Tracks"],"operationId":"get-several-tracks","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Several Tracks\n","description":"Get Spotify catalog information for multiple tracks based on their Spotify IDs.\n","parameters":[{"$ref":"#/components/parameters/QueryMarket"},{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify Track IDs","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M\u0060. Maximum: 50 IDs.\n","example":"7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ManyTracks"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/search":{"get":{"tags":["Search"],"operationId":"search","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MachineLearning"}],"summary":"Search for Item\n","description":"Get Spotify catalog information about albums, artists, playlists, tracks, shows, episodes or audiobooks\nthat match a keyword string. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n","parameters":[{"name":"q","required":true,"in":"query","schema":{"title":"Query","description":"Your search query.\n\nYou can narrow down your search using field filters. The available filters are \u0060album\u0060, \u0060artist\u0060, \u0060track\u0060, \u0060year\u0060, \u0060upc\u0060, \u0060tag:hipster\u0060, \u0060tag:new\u0060, \u0060isrc\u0060, and \u0060genre\u0060. Each field filter only applies to certain result types.\n\nThe \u0060artist\u0060 and \u0060year\u0060 filters can be used while searching albums, artists and tracks. You can filter on a single \u0060year\u0060 or a range (e.g. 1955-1960).\u003Cbr /\u003E\nThe \u0060album\u0060 filter can be used while searching albums and tracks.\u003Cbr /\u003E\nThe \u0060genre\u0060 filter can be used while searching artists and tracks.\u003Cbr /\u003E\nThe \u0060isrc\u0060 and \u0060track\u0060 filters can be used while searching tracks.\u003Cbr /\u003E\nThe \u0060upc\u0060, \u0060tag:new\u0060 and \u0060tag:hipster\u0060 filters can only be used while searching albums. The \u0060tag:new\u0060 filter will return albums released in the past two weeks and \u0060tag:hipster\u0060 can be used to return only albums with the lowest 10% popularity.\u003Cbr /\u003E\n","example":"remaster%20track:Doxy%20artist:Miles%20Davis","type":"string"}},{"name":"type","required":true,"explode":false,"in":"query","schema":{"title":"Item type","description":"A comma-separated list of item types to search across. Search results include hits\nfrom all the specified item types. For example: \u0060q=abacab\u0026type=album,track\u0060 returns\nboth albums and tracks matching \u0022abacab\u0022.\n","items":{"type":"string","enum":["album","artist","playlist","track","show","episode","audiobook"]},"type":"array"}},{"$ref":"#/components/parameters/QueryMarket"},{"name":"limit","required":false,"in":"query","schema":{"title":"Limit","description":"The maximum number of results to return in each item type.\n","default":5,"example":10,"type":"integer","minimum":0,"maximum":10}},{"name":"offset","required":false,"in":"query","schema":{"title":"Offset","description":"The index of the first result to return. Use\nwith limit to get the next page of search results.\n","default":0,"minimum":0,"maximum":1000,"example":5,"type":"integer"}},{"name":"include_external","required":false,"in":"query","schema":{"title":"Include External","description":"If \u0060include_external=audio\u0060 is specified it signals that the client can play externally hosted audio content, and marks\nthe content as playable in the response. By default externally hosted audio content is marked as unplayable in the response.\n","type":"string","enum":["audio"]}}],"responses":{"200":{"$ref":"#/components/responses/SearchItems"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/me":{"get":{"tags":["Users"],"operationId":"get-current-users-profile","summary":"Get Current User\u0027s Profile\n","description":"Get detailed profile information about the current user (including the\ncurrent user\u0027s username).\n","responses":{"200":{"$ref":"#/components/responses/OnePrivateUser"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-read-private","user-read-email"]}]}},"/playlists/{playlist_id}":{"get":{"tags":["Playlists"],"operationId":"get-playlist","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Playlist\n","description":"Get a playlist owned by a Spotify user.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"$ref":"#/components/parameters/QueryMarket"},{"name":"fields","required":false,"in":"query","schema":{"title":"Fields","description":"Filters for the query: a comma-separated list of the\nfields to return. If omitted, all fields are returned. For example, to get\njust the playlist\u0027\u0027s description and URI: \u0060fields=description,uri\u0060. A dot\nseparator can be used to specify non-reoccurring fields, while parentheses\ncan be used to specify reoccurring fields within objects. For example, to\nget just the added date and user ID of the adder: \u0060fields=tracks.items(added_at,added_by.id)\u0060.\nUse multiple parentheses to drill down into nested objects, for example: \u0060fields=tracks.items(track(name,href,album(name,href)))\u0060.\nFields can be excluded by prefixing them with an exclamation mark, for example:\n\u0060fields=tracks.items(track(name,href,album(!name,href)))\u0060\n","example":"items(added_by.id,track(name,href,album(name,href)))","type":"string"}},{"$ref":"#/components/parameters/QueryAdditionalTypes"}],"responses":{"200":{"$ref":"#/components/responses/OnePlaylist"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]},"put":{"tags":["Playlists","Library"],"operationId":"change-playlist-details","summary":"Change Playlist Details\n","description":"Change a playlist\u0027s name and public/private state. (The user must, of\ncourse, own the playlist.)\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"requestBody":{"content":{"application/json":{"schema":{"example":{"name":"Updated Playlist Name","description":"Updated playlist description","public":false},"type":"object","additionalProperties":true,"properties":{"name":{"type":"string","description":"The new name for the playlist, for example \u0060\u0022My New Playlist Title\u0022\u0060\n"},"public":{"type":"boolean","description":"The playlist\u0027s public/private status (if it should be added to the user\u0027s profile or not): \u0060true\u0060 the playlist will be public, \u0060false\u0060 the playlist will be private, \u0060null\u0060 the playlist status is not relevant. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)\n"},"collaborative":{"type":"boolean","description":"If \u0060true\u0060, the playlist will become collaborative and other users will be able to modify the playlist in their Spotify client. \u003Cbr/\u003E\n_**Note**: You can only set \u0060collaborative\u0060 to \u0060true\u0060 on non-public playlists._\n"},"description":{"type":"string","description":"Value for playlist description as displayed in Spotify Clients and in the Web API.\n"}}}}}},"responses":{"200":{"description":"Playlist updated"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/playlists/{playlist_id}/tracks":{"get":{"tags":["Playlists","Tracks"],"operationId":"get-playlists-tracks","deprecated":true,"x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Playlist Items [DEPRECATED]\n","description":"**Deprecated:** Use [Get Playlist Items](/documentation/web-api/reference/get-playlists-items) instead.\n\nGet full details of the items of a playlist owned by a Spotify user.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"$ref":"#/components/parameters/QueryMarket"},{"name":"fields","required":false,"in":"query","schema":{"title":"Fields","description":"Filters for the query: a comma-separated list of the\nfields to return. If omitted, all fields are returned. For example, to get\njust the total number of items and the request limit:\u003Cbr/\u003E\u0060fields=total,limit\u0060\u003Cbr/\u003EA\ndot separator can be used to specify non-reoccurring fields, while parentheses\ncan be used to specify reoccurring fields within objects. For example, to\nget just the added date and user ID of the adder:\u003Cbr/\u003E\u0060fields=items(added_at,added_by.id)\u0060\u003Cbr/\u003EUse\nmultiple parentheses to drill down into nested objects, for example:\u003Cbr/\u003E\u0060fields=items(track(name,href,album(name,href)))\u0060\u003Cbr/\u003EFields\ncan be excluded by prefixing them with an exclamation mark, for example:\u003Cbr/\u003E\u0060fields=items.track.album(!external_urls,images)\u0060\n","example":"items(added_by.id,track(name,href,album(name,href)))","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryAdditionalTypes"}],"responses":{"200":{"$ref":"#/components/responses/PagingPlaylistTrackObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-read-private"]}]},"post":{"tags":["Playlists","Tracks"],"operationId":"add-tracks-to-playlist","deprecated":true,"summary":"Add Items to Playlist [DEPRECATED]\n","description":"**Deprecated:** Use [Add Items to Playlist](/documentation/web-api/reference/add-items-to-playlist) instead.\n\nAdd one or more items to a user\u0027s playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"name":"position","required":false,"in":"query","schema":{"title":"Position (append by default)","description":"The position to insert the items, a zero-based index. For example, to insert the items in the first position: \u0060position=0\u0060; to insert the items in the third position: \u0060position=2\u0060. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.\n","example":0,"type":"integer"}},{"name":"uris","required":false,"in":"query","schema":{"title":"Spotify Track URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:\u003Cbr/\u003E\u0060uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0060\u003Cbr/\u003EA maximum of 100 items can be added in one request. \u003Cbr/\u003E\n_**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._\n","example":"spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"uris":{"description":"A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: \u0060{\u0022uris\u0022: [\u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022,\u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022, \u0022spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0022]}\u0060\u003Cbr/\u003EA maximum of 100 items can be added in one request. _**Note**: if the \u0060uris\u0060 parameter is present in the query string, any URIs listed here in the body will be ignored._\n","type":"array","items":{"type":"string"}},"position":{"description":"The position to insert the items, a zero-based index. For example, to insert the items in the first position: \u0060position=0\u0060 ; to insert the items in the third position: \u0060position=2\u0060. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: \u0060{\u0022uris\u0022: [\u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022,\u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022], \u0022position\u0022: 3}\u0060\n","type":"integer"}}}}}},"responses":{"201":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]},"put":{"tags":["Playlists","Tracks"],"operationId":"reorder-or-replace-playlists-tracks","deprecated":true,"summary":"Update Playlist Items [DEPRECATED]\n","description":"**Deprecated:** Use [Update Playlist Items](/documentation/web-api/reference/reorder-or-replace-playlists-items) instead.\n\nEither reorder or replace items in a playlist depending on the request\u0027s parameters.\nTo reorder items, include \u0060range_start\u0060, \u0060insert_before\u0060, \u0060range_length\u0060 and \u0060snapshot_id\u0060 in the request\u0027s body.\nTo replace items, include \u0060uris\u0060 as either a query parameter or in the request\u0027s body.\nReplacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.\n\u003Cbr/\u003E\n**Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.\nThese operations can\u0027t be applied together in a single request.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"name":"uris","required":false,"in":"query","schema":{"title":"Spotify Track URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: \u0060uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0060\u003Cbr/\u003EA maximum of 100 items can be set in one request.\n","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"example":{"range_start":1,"insert_before":3,"range_length":2},"type":"object","additionalProperties":true,"properties":{"uris":{"type":"array","items":{"type":"string"}},"range_start":{"type":"integer","description":"The position of the first item to be reordered.\n"},"insert_before":{"type":"integer","description":"The position where the items should be inserted.\u003Cbr/\u003ETo reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.\u003Cbr/\u003EExamples:\u003Cbr/\u003ETo reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.\u003Cbr/\u003ETo reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.\n"},"range_length":{"type":"integer","description":"The amount of items to be reordered. Defaults to 1 if not set.\u003Cbr/\u003EThe range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.\u003Cbr/\u003EExample:\u003Cbr/\u003ETo move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.\n"},"snapshot_id":{"type":"string","description":"The playlist\u0027s snapshot ID against which you want to make the changes.\n"}}}}}},"responses":{"200":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]},"delete":{"tags":["Playlists","Tracks"],"operationId":"remove-tracks-playlist","deprecated":true,"summary":"Remove Playlist Items [DEPRECATED]\n","description":"**Deprecated:** Use [Remove Playlist Items](/documentation/web-api/reference/remove-items-playlist) instead.\n\nRemove one or more items from a user\u0027s playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["tracks"],"properties":{"tracks":{"type":"array","description":"An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.\nFor example: \u0060{ \u0022tracks\u0022: [{ \u0022uri\u0022: \u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022 },{ \u0022uri\u0022: \u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022 }] }\u0060. A maximum of 100 objects can be sent at once.\n","items":{"type":"object","properties":{"uri":{"type":"string","description":"Spotify URI"}}}},"snapshot_id":{"type":"string","description":"The playlist\u0027s snapshot ID against which you want to make the changes.\nThe API will validate that the specified items exist and in the specified positions and make the changes,\neven if more recent changes have been made to the playlist.\n"}}}}}},"responses":{"200":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/playlists/{playlist_id}/items":{"get":{"tags":["Playlists","Tracks"],"operationId":"get-playlists-items","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Playlist Items\n","description":"Get full details of the items of a playlist owned by a Spotify user.\n\n**Note**: This endpoint is only accessible for playlists owned by the current user or playlists the user is a collaborator of. A \u0060403 Forbidden\u0060 status code will be returned if the user is neither the owner nor a collaborator of the playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"$ref":"#/components/parameters/QueryMarket"},{"name":"fields","required":false,"in":"query","schema":{"title":"Fields","description":"Filters for the query: a comma-separated list of the\nfields to return. If omitted, all fields are returned. For example, to get\njust the total number of items and the request limit:\u003Cbr/\u003E\u0060fields=total,limit\u0060\u003Cbr/\u003EA\ndot separator can be used to specify non-reoccurring fields, while parentheses\ncan be used to specify reoccurring fields within objects. For example, to\nget just the added date and user ID of the adder:\u003Cbr/\u003E\u0060fields=items(added_at,added_by.id)\u0060\u003Cbr/\u003EUse\nmultiple parentheses to drill down into nested objects, for example:\u003Cbr/\u003E\u0060fields=items(track(name,href,album(name,href)))\u0060\u003Cbr/\u003EFields\ncan be excluded by prefixing them with an exclamation mark, for example:\u003Cbr/\u003E\u0060fields=items.track.album(!external_urls,images)\u0060\n","example":"items(added_by.id,track(name,href,album(name,href)))","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryAdditionalTypes"}],"responses":{"200":{"$ref":"#/components/responses/PagingPlaylistTrackObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-read-private"]}]},"post":{"tags":["Playlists","Tracks"],"operationId":"add-items-to-playlist","summary":"Add Items to Playlist\n","description":"Add one or more items to a user\u0027s playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"name":"position","required":false,"in":"query","schema":{"title":"Position (append by default)","description":"The position to insert the items, a zero-based index. For example, to insert the items in the first position: \u0060position=0\u0060; to insert the items in the third position: \u0060position=2\u0060. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.\n","example":0,"type":"integer"}},{"name":"uris","required":false,"in":"query","schema":{"title":"Spotify Track URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:\u003Cbr/\u003E\u0060uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0060\u003Cbr/\u003EA maximum of 100 items can be added in one request. \u003Cbr/\u003E\n_**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._\n","example":"spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"uris":{"description":"A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: \u0060{\u0022uris\u0022: [\u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022,\u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022, \u0022spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0022]}\u0060\u003Cbr/\u003EA maximum of 100 items can be added in one request. _**Note**: if the \u0060uris\u0060 parameter is present in the query string, any URIs listed here in the body will be ignored._\n","type":"array","items":{"type":"string"}},"position":{"description":"The position to insert the items, a zero-based index. For example, to insert the items in the first position: \u0060position=0\u0060 ; to insert the items in the third position: \u0060position=2\u0060. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: \u0060{\u0022uris\u0022: [\u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022,\u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022], \u0022position\u0022: 3}\u0060\n","type":"integer"}}}}}},"responses":{"201":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]},"put":{"tags":["Playlists","Tracks"],"operationId":"reorder-or-replace-playlists-items","summary":"Update Playlist Items\n","description":"Either reorder or replace items in a playlist depending on the request\u0027s parameters.\nTo reorder items, include \u0060range_start\u0060, \u0060insert_before\u0060, \u0060range_length\u0060 and \u0060snapshot_id\u0060 in the request\u0027s body.\nTo replace items, include \u0060uris\u0060 as either a query parameter or in the request\u0027s body.\nReplacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.\n\u003Cbr/\u003E\n**Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.\nThese operations can\u0027t be applied together in a single request.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"name":"uris","required":false,"in":"query","schema":{"title":"Spotify Track URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: \u0060uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ\u0060\u003Cbr/\u003EA maximum of 100 items can be set in one request.\n","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"example":{"range_start":1,"insert_before":3,"range_length":2},"type":"object","additionalProperties":true,"properties":{"uris":{"type":"array","items":{"type":"string"}},"range_start":{"type":"integer","description":"The position of the first item to be reordered.\n"},"insert_before":{"type":"integer","description":"The position where the items should be inserted.\u003Cbr/\u003ETo reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.\u003Cbr/\u003EExamples:\u003Cbr/\u003ETo reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.\u003Cbr/\u003ETo reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.\n"},"range_length":{"type":"integer","description":"The amount of items to be reordered. Defaults to 1 if not set.\u003Cbr/\u003EThe range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.\u003Cbr/\u003EExample:\u003Cbr/\u003ETo move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.\n"},"snapshot_id":{"type":"string","description":"The playlist\u0027s snapshot ID against which you want to make the changes.\n"}}}}}},"responses":{"200":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]},"delete":{"tags":["Playlists","Tracks"],"operationId":"remove-items-playlist","summary":"Remove Playlist Items\n","description":"Remove one or more items from a user\u0027s playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.\nFor example: \u0060{ \u0022items\u0022: [{ \u0022uri\u0022: \u0022spotify:track:4iV5W9uYEdYUVa79Axb7Rh\u0022 },{ \u0022uri\u0022: \u0022spotify:track:1301WleyT98MSxVHPZCA6M\u0022 }] }\u0060. A maximum of 100 objects can be sent at once.\n","items":{"type":"object","properties":{"uri":{"type":"string","description":"Spotify URI"}}}},"snapshot_id":{"type":"string","description":"The playlist\u0027s snapshot ID against which you want to make the changes.\nThe API will validate that the specified items exist and in the specified positions and make the changes,\neven if more recent changes have been made to the playlist.\n"}}}}}},"responses":{"200":{"$ref":"#/components/responses/PlaylistSnapshotId"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/me/playlists":{"get":{"tags":["Playlists","Library"],"operationId":"get-a-list-of-current-users-playlists","summary":"Get Current User\u0027s Playlists\n","description":"Get a list of the playlists owned or followed by the current Spotify\nuser.\n","parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"name":"offset","required":false,"in":"query","schema":{"title":"Offset","description":"\u0027The index of the first playlist to return. Default:\n0 (the first object). Maximum offset: 100.000\\. Use with \u0060limit\u0060 to get the\nnext set of playlists.\u0027\n","default":0,"example":5,"type":"integer"}}],"responses":{"200":{"$ref":"#/components/responses/PagedPlaylists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-read-private"]}]},"post":{"tags":["Playlists","Library"],"operationId":"create-playlist","summary":"Create Playlist\n","description":"Create a playlist for the current Spotify user. (The playlist will be empty until\nyou [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)\nEach user is generally limited to a maximum of 11000 playlists.\n","requestBody":{"content":{"application/json":{"schema":{"example":{"name":"New Playlist","description":"New playlist description","public":false},"type":"object","additionalProperties":true,"required":["name"],"properties":{"name":{"type":"string","description":"The name for the new playlist, for example \u0060\u0022Your Coolest Playlist\u0022\u0060. This name does not need to be unique; a user may have several playlists with the same name.\n"},"public":{"type":"boolean","description":"Defaults to \u0060true\u0060. The playlist\u0027s public/private status (if it should be added to the user\u0027s profile or not): \u0060true\u0060 the playlist will be public, \u0060false\u0060 the playlist will be private. To be able to create private playlists, the user must have granted the \u0060playlist-modify-private\u0060 [scope](/documentation/web-api/concepts/scopes/#list-of-scopes). For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)\n"},"collaborative":{"type":"boolean","description":"Defaults to \u0060false\u0060. If \u0060true\u0060 the playlist will be collaborative. _**Note**: to create a collaborative playlist you must also set \u0060public\u0060 to \u0060false\u0060. To create collaborative playlists you must have granted \u0060playlist-modify-private\u0060 and \u0060playlist-modify-public\u0060 [scopes](/documentation/web-api/concepts/scopes/#list-of-scopes)._\n"},"description":{"type":"string","description":"value for playlist description as displayed in Spotify Clients and in the Web API.\n"}}}}}},"responses":{"201":{"$ref":"#/components/responses/OnePlaylist"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/me/library":{"put":{"tags":["Library"],"operationId":"save-library-items","summary":"Save Items to Library\n","description":"Add one or more items to the current user\u0027s library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, users, and playlists.\n","parameters":[{"name":"uris","required":true,"in":"query","schema":{"title":"Spotify URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.\n\nSupported URI types:\n- \u0060spotify:track:{id}\u0060\n- \u0060spotify:album:{id}\u0060\n- \u0060spotify:episode:{id}\u0060\n- \u0060spotify:show:{id}\u0060\n- \u0060spotify:audiobook:{id}\u0060\n- \u0060spotify:user:{id}\u0060\n- \u0060spotify:playlist:{id}\u0060\n","example":"spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy","type":"string"}}],"responses":{"200":{"description":"Items saved to library"},"400":{"description":"Bad Request. Possible reasons: missing \u0060uris\u0060 parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify","user-follow-modify","playlist-modify-public"]}]},"delete":{"tags":["Library"],"operationId":"remove-library-items","summary":"Remove Items from Library\n","description":"Remove one or more items from the current user\u0027s library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, users, and playlists.\n","parameters":[{"name":"uris","required":true,"in":"query","schema":{"title":"Spotify URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.\n\nSupported URI types:\n- \u0060spotify:track:{id}\u0060\n- \u0060spotify:album:{id}\u0060\n- \u0060spotify:episode:{id}\u0060\n- \u0060spotify:show:{id}\u0060\n- \u0060spotify:audiobook:{id}\u0060\n- \u0060spotify:user:{id}\u0060\n- \u0060spotify:playlist:{id}\u0060\n","example":"spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy","type":"string"}}],"responses":{"200":{"description":"Items removed from library"},"400":{"description":"Bad Request. Possible reasons: missing \u0060uris\u0060 parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify","user-follow-modify","playlist-modify-public"]}]}},"/me/library/contains":{"get":{"tags":["Library"],"operationId":"check-library-contains","summary":"Check User\u0027s Saved Items\n","description":"Check if one or more items are already saved in the current user\u0027s library. Accepts Spotify URIs for tracks, albums, episodes, shows, audiobooks, artists, users, and playlists.\n","parameters":[{"name":"uris","required":true,"in":"query","schema":{"title":"Spotify URIs","description":"A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 40 URIs.\n\nSupported URI types:\n- \u0060spotify:track:{id}\u0060\n- \u0060spotify:album:{id}\u0060\n- \u0060spotify:episode:{id}\u0060\n- \u0060spotify:show:{id}\u0060\n- \u0060spotify:audiobook:{id}\u0060\n- \u0060spotify:artist:{id}\u0060\n- \u0060spotify:user:{id}\u0060\n- \u0060spotify:playlist:{id}\u0060\n","example":"spotify:track:7a3LWj5xSFhFRYmztS8wgK,spotify:album:4aawyAB9vmqN3uQ7FjRGTy,spotify:artist:2takcwOaAZWiXQijPHIx7B","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"400":{"description":"Bad Request. Possible reasons: missing \u0060uris\u0060 parameter, invalid URI format, unsupported URI type, or more than 40 URIs provided.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read","user-follow-read","playlist-read-private"]}]}},"/me/albums":{"get":{"tags":["Albums","Library"],"operationId":"get-users-saved-albums","summary":"Get User\u0027s Saved Albums\n","description":"Get a list of the albums saved in the current Spotify user\u0027s \u0027Your Music\u0027 library.\n","parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"$ref":"#/components/responses/PagingSavedAlbumObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]},"put":{"deprecated":true,"tags":["Albums","Library"],"operationId":"save-albums-user","summary":"Save Albums for Current User\n","description":"Save one or more albums to the current user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAlbumIds"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060[\u00224iV5W9uYEdYUVa79Axb7Rh\u0022, \u00221301WleyT98MSxVHPZCA6M\u0022]\u0060\u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"The album is saved"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]},"delete":{"deprecated":true,"tags":["Albums","Library"],"operationId":"remove-albums-user","summary":"Remove Users\u0027 Saved Albums\n","description":"Remove one or more albums from the current user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAlbumIds"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060[\u00224iV5W9uYEdYUVa79Axb7Rh\u0022, \u00221301WleyT98MSxVHPZCA6M\u0022]\u0060\u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Album(s) have been removed from the library"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]}},"/me/albums/contains":{"get":{"tags":["Albums","Library"],"operationId":"check-users-saved-albums","summary":"Check User\u0027s Saved Albums\n","deprecated":true,"description":"Check if one or more albums is already saved in the current Spotify user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryAlbumIds"}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]}},"/me/tracks":{"get":{"tags":["Tracks","Library"],"operationId":"get-users-saved-tracks","summary":"Get User\u0027s Saved Tracks\n","description":"Get a list of the songs saved in the current Spotify user\u0027s \u0027Your Music\u0027 library.\n","parameters":[{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSavedTrackObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]},"put":{"deprecated":true,"tags":["Tracks","Library"],"operationId":"save-tracks-user","summary":"Save Tracks for Current User\n","description":"Save one or more tracks to the current user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"required":["uris"],"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060[\u00224iV5W9uYEdYUVa79Axb7Rh\u0022, \u00221301WleyT98MSxVHPZCA6M\u0022]\u0060\u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060timestamped_ids\u0060 is present in the body, any IDs listed in the query parameters (deprecated) or the \u0060ids\u0060 field in the body will be ignored._\n","items":{"type":"string"}},"timestamped_ids":{"type":"array","description":"A JSON array of objects containing track IDs with their corresponding timestamps. Each object must include a track ID and an \u0060added_at\u0060 timestamp. This allows you to specify when tracks were added to maintain a specific chronological order in the user\u0027s library.\u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060timestamped_ids\u0060 is present in the body, any IDs listed in the query parameters (deprecated) or the \u0060ids\u0060 field in the body will be ignored._\n","items":{"type":"object","required":["id","added_at"],"properties":{"id":{"type":"string","description":"The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.\n"},"added_at":{"type":"string","format":"date-time","x-spotify-docs-type":"Timestamp","description":"The timestamp when the track was added to the library. Use ISO 8601 format with UTC timezone (e.g., \u00602023-01-15T14:30:00Z\u0060). You can specify past timestamps to insert tracks at specific positions in the library\u0027s chronological order. The API uses minute-level granularity for ordering, though the timestamp supports millisecond precision.\n"}}}}}}}}},"responses":{"200":{"description":"Track saved"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]},"delete":{"deprecated":true,"tags":["Tracks","Library"],"operationId":"remove-tracks-user","summary":"Remove User\u0027s Saved Tracks\n","description":"Remove one or more tracks from the current user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryTrackIds"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060[\u00224iV5W9uYEdYUVa79Axb7Rh\u0022, \u00221301WleyT98MSxVHPZCA6M\u0022]\u0060\u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Track removed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]}},"/me/tracks/contains":{"get":{"tags":["Tracks","Library"],"operationId":"check-users-saved-tracks","summary":"Check User\u0027s Saved Tracks\n","deprecated":true,"description":"Check if one or more tracks is already saved in the current Spotify user\u0027s \u0027Your Music\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryTrackIds"}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]}},"/me/episodes":{"get":{"tags":["Episodes","Library"],"operationId":"get-users-saved-episodes","summary":"Get User\u0027s Saved Episodes\n","description":"Get a list of the episodes saved in the current Spotify user\u0027s library.\n","parameters":[{"$ref":"#/components/parameters/QueryMarket"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingSavedEpisodeObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read","user-read-playback-position"]}]},"put":{"deprecated":true,"tags":["Episodes","Library"],"operationId":"save-episodes-user","summary":"Save Episodes for Current User\n","description":"Save one or more episodes to the current user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","parameters":[{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify Episodes IDs","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 50 IDs.\n","example":"77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"required":["uris"],"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). \u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Episode saved"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]},"delete":{"deprecated":true,"tags":["Episodes","Library"],"operationId":"remove-episodes-user","summary":"Remove User\u0027s Saved Episodes\n","description":"Remove one or more episodes from the current user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryTrackIds"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ids":{"type":"array","description":"A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). \u003Cbr/\u003EA maximum of 50 items can be specified in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Episode removed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]}},"/me/episodes/contains":{"get":{"tags":["Episodes","Library"],"operationId":"check-users-saved-episodes","summary":"Check User\u0027s Saved Episodes\n","deprecated":true,"description":"Check if one or more episodes is already saved in the current Spotify user\u0027s \u0027Your Episodes\u0027 library.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify Episode IDs","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.\n","example":"77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]}},"/me/shows":{"get":{"tags":["Shows","Library"],"operationId":"get-users-saved-shows","summary":"Get User\u0027s Saved Shows\n","description":"Get a list of shows saved in the current Spotify user\u0027s library. Optional parameters can be used to limit the number of shows returned.\n","parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"},"200":{"$ref":"#/components/responses/PagingSavedShowObject"}},"security":[{"oauth_2_0":["user-library-read"]}]},"put":{"deprecated":true,"tags":["Shows","Library"],"operationId":"save-shows-user","summary":"Save Shows for Current User\n","description":"Save one or more shows to current Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryShowIds"}],"responses":{"200":{"description":"Show saved"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]},"delete":{"deprecated":true,"tags":["Shows","Library"],"operationId":"remove-shows-user","summary":"Remove User\u0027s Saved Shows\n","description":"Delete one or more shows from current Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryShowIds"},{"$ref":"#/components/parameters/QueryMarket"}],"responses":{"200":{"description":"Show removed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-modify"]}]}},"/me/shows/contains":{"get":{"tags":["Shows","Library"],"operationId":"check-users-saved-shows","summary":"Check User\u0027s Saved Shows\n","deprecated":true,"description":"Check if one or more shows is already saved in the current Spotify user\u0027s library.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"$ref":"#/components/parameters/QueryShowIds"}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-library-read"]}]}},"/me/top/{type}":{"get":{"tags":["Users","Tracks","Library"],"operationId":"get-users-top-artists-and-tracks","summary":"Get User\u0027s Top Items\n","description":"Get the current user\u0027s top artists or tracks based on calculated affinity.\n","parameters":[{"name":"type","required":true,"in":"path","schema":{"title":"Type","description":"The type of entity to return. Valid values: \u0060artists\u0060 or \u0060tracks\u0060\n","enum":["artists","tracks"],"type":"string"}},{"name":"time_range","required":false,"in":"query","schema":{"title":"Time Range","description":"Over what time frame the affinities are computed. Valid values: \u0060long_term\u0060 (calculated from ~1 year of data and including all new data as it becomes available), \u0060medium_term\u0060 (approximately last 6 months), \u0060short_term\u0060 (approximately last 4 weeks). Default: \u0060medium_term\u0060\n","default":"medium_term","example":"medium_term","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagingArtistOrTrackObject"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-top-read"]}]}},"/users/{user_id}":{"get":{"deprecated":true,"tags":["Users"],"operationId":"get-users-profile","summary":"Get User\u0027s Profile\n","description":"Get public profile information about a Spotify user.\n","parameters":[{"$ref":"#/components/parameters/PathUserId"}],"responses":{"200":{"$ref":"#/components/responses/OnePublicUser"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/users/{user_id}/playlists":{"get":{"deprecated":true,"tags":["Playlists","Users"],"operationId":"get-list-users-playlists","summary":"Get User\u0027s Playlists\n","description":"Get a list of the playlists owned or followed by a Spotify user.\n","parameters":[{"$ref":"#/components/parameters/PathUserId"},{"$ref":"#/components/parameters/QueryLimit"},{"name":"offset","required":false,"in":"query","schema":{"title":"Offset","description":"The index of the first playlist to return. Default:\n0 (the first object). Maximum offset: 100.000\\. Use with \u0060limit\u0060 to get the\nnext set of playlists.\n","default":0,"example":5,"type":"integer"}}],"responses":{"200":{"$ref":"#/components/responses/PagedPlaylists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-read-private","playlist-read-collaborative"]}]},"post":{"tags":["Playlists","Library"],"operationId":"create-playlist-for-user","deprecated":true,"summary":"Create Playlist for user\n","description":"**Deprecated**: Use [Create Playlist](/documentation/web-api/reference/create-playlist) instead.\n\nCreate a playlist for a Spotify user. (The playlist will be empty until\nyou [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)\nEach user is generally limited to a maximum of 11000 playlists.\n","parameters":[{"$ref":"#/components/parameters/PathUserId"}],"requestBody":{"content":{"application/json":{"schema":{"example":{"name":"New Playlist","description":"New playlist description","public":false},"type":"object","additionalProperties":true,"required":["name"],"properties":{"name":{"type":"string","description":"The name for the new playlist, for example \u0060\u0022Your Coolest Playlist\u0022\u0060. This name does not need to be unique; a user may have several playlists with the same name.\n"},"public":{"type":"boolean","description":"Defaults to \u0060true\u0060. The playlist\u0027s public/private status (if it should be added to the user\u0027s profile or not): \u0060true\u0060 the playlist will be public, \u0060false\u0060 the playlist will be private. To be able to create private playlists, the user must have granted the \u0060playlist-modify-private\u0060 [scope](/documentation/web-api/concepts/scopes/#list-of-scopes). For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)\n"},"collaborative":{"type":"boolean","description":"Defaults to \u0060false\u0060. If \u0060true\u0060 the playlist will be collaborative. _**Note**: to create a collaborative playlist you must also set \u0060public\u0060 to \u0060false\u0060. To create collaborative playlists you must have granted \u0060playlist-modify-private\u0060 and \u0060playlist-modify-public\u0060 [scopes](/documentation/web-api/concepts/scopes/#list-of-scopes)._\n"},"description":{"type":"string","description":"value for playlist description as displayed in Spotify Clients and in the Web API.\n"}}}}}},"responses":{"201":{"$ref":"#/components/responses/OnePlaylist"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/playlists/{playlist_id}/followers":{"put":{"deprecated":true,"tags":["Users","Playlists"],"operationId":"follow-playlist","description":"Add the current user as a follower of a playlist.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","summary":"Follow Playlist\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"requestBody":{"content":{"application/json":{"schema":{"example":{"public":false},"type":"object","additionalProperties":true,"properties":{"public":{"type":"boolean","description":"Defaults to \u0060true\u0060. If \u0060true\u0060 the playlist will be included in user\u0027s public playlists (added to profile), if \u0060false\u0060 it will remain private. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)\n"}}}}}},"responses":{"200":{"description":"Playlist followed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]},"delete":{"deprecated":true,"tags":["Users","Playlists"],"operationId":"unfollow-playlist","summary":"Unfollow Playlist\n","description":"Remove the current user as a follower of a playlist.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"responses":{"200":{"description":"Playlist unfollowed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["playlist-modify-public","playlist-modify-private"]}]}},"/browse/featured-playlists":{"get":{"deprecated":true,"tags":["Playlists"],"operationId":"get-featured-playlists","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MultipleIntegrations"}],"summary":"Get Featured Playlists\n","description":"Get a list of Spotify featured playlists (shown, for example, on a Spotify player\u0027s \u0027Browse\u0027 tab).\n","parameters":[{"name":"locale","required":false,"in":"query","schema":{"title":"Locale","description":"The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: \u0060es_MX\u0060, meaning \u0026quot;Spanish (Mexico)\u0026quot;. Provide this parameter if you want the category strings returned in a particular language.\u003Cbr/\u003E _**Note**: if \u0060locale\u0060 is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._\n","example":"sv_SE","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagedFeaturedPlaylists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/browse/categories":{"get":{"deprecated":true,"tags":["Categories"],"operationId":"get-categories","summary":"Get Several Browse Categories\n","description":"Get a list of categories used to tag items in Spotify (on, for example, the Spotify player\u2019s \u201CBrowse\u201D tab).\n","parameters":[{"name":"locale","required":false,"in":"query","schema":{"title":"Locale","description":"The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: \u0060es_MX\u0060, meaning \u0026quot;Spanish (Mexico)\u0026quot;. Provide this parameter if you want the category strings returned in a particular language.\u003Cbr/\u003E _**Note**: if \u0060locale\u0060 is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._\n","example":"sv_SE","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagedCategories"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/browse/categories/{category_id}":{"get":{"deprecated":true,"tags":["Categories"],"operationId":"get-a-category","summary":"Get Single Browse Category\n","description":"Get a single category used to tag items in Spotify (on, for example, the Spotify player\u2019s \u201CBrowse\u201D tab).\n","parameters":[{"name":"category_id","required":true,"in":"path","schema":{"title":"Category ID","description":"The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.\n","example":"dinner","type":"string"}},{"name":"locale","required":false,"in":"query","schema":{"title":"Locale","description":"The desired language, consisting of an [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code and an [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2), joined by an underscore. For example: \u0060es_MX\u0060, meaning \u0026quot;Spanish (Mexico)\u0026quot;. Provide this parameter if you want the category strings returned in a particular language.\u003Cbr/\u003E _**Note**: if \u0060locale\u0060 is not supplied, or if the specified language is not available, the category strings returned will be in the Spotify default language (American English)._\n","example":"sv_SE","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OneCategory"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/browse/categories/{category_id}/playlists":{"get":{"deprecated":true,"tags":["Playlists","Categories"],"operationId":"get-a-categories-playlists","summary":"Get Category\u0027s Playlists\n","description":"Get a list of Spotify playlists tagged with a particular category.\n","parameters":[{"name":"category_id","required":true,"in":"path","schema":{"title":"Category ID","description":"The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) for the category.\n","example":"dinner","type":"string"}},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagedFeaturedPlaylists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/playlists/{playlist_id}/images":{"get":{"tags":["Playlists"],"operationId":"get-playlist-cover","x-spotify-policy-list":{"$ref":"#/components/x-spotify-policy/metadataWithMachineLearningPolicyList"},"summary":"Get Playlist Cover Image\n","description":"Get the current image associated with a specific playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfImages"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]},"put":{"tags":["Playlists"],"operationId":"upload-custom-playlist-cover","summary":"Add Custom Playlist Cover Image\n","description":"Replace the image used to represent a specific playlist.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"}],"requestBody":{"content":{"image/jpeg":{"schema":{"example":"/9j/2wCEABoZGSccJz4lJT5CLy8vQkc9Ozs9R0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0cBHCcnMyYzPSYmPUc9Mj1HR0dEREdHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR//dAAQAAf/uAA5BZG9iZQBkwAAAAAH/wAARCAABAAEDACIAAREBAhEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAYBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwAAARECEQA/AJgAH//Z","format":"byte","type":"string","required":true,"description":"Base64 encoded JPEG image data, maximum payload size is 256 KB."}}}},"responses":{"202":{"description":"Image uploaded"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["ugc-image-upload","playlist-modify-public","playlist-modify-private"]}]}},"/browse/new-releases":{"get":{"deprecated":true,"tags":["Albums"],"operationId":"get-new-releases","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MultipleIntegrations"}],"summary":"Get New Releases\n","description":"Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player\u2019s \u201CBrowse\u201D tab).\n","parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"responses":{"200":{"$ref":"#/components/responses/PagedAlbums"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/me/following":{"get":{"tags":["Users","Library","Artists"],"operationId":"get-followed","summary":"Get Followed Artists\n","description":"Get the current user\u0027s followed artists.\n","parameters":[{"name":"type","required":true,"in":"query","schema":{"title":"Item Type","description":"The ID type: currently only \u0060artist\u0060 is supported.\n","enum":["artist"],"example":"artist","type":"string"}},{"name":"after","required":false,"in":"query","schema":{"title":"After","description":"The last artist ID retrieved from the previous request.\n","example":"0I2XqVXqHScXjHhk6AYYRe","type":"string"}},{"name":"limit","required":false,"in":"query","schema":{"title":"Limit","description":"The maximum number of items to return. Default: 20\\. Minimum: 1\\. Maximum: 50\\.\n","default":20,"example":10,"type":"integer","minimum":0,"maximum":50}}],"responses":{"200":{"$ref":"#/components/responses/CursorPagedArtists"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-follow-read"]}]},"put":{"deprecated":true,"tags":["Users","Artists","Library"],"operationId":"follow-artists-users","summary":"Follow Artists or Users\n","description":"Add the current user as a follower of one or more artists or other Spotify users.\n\n**Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.\n","parameters":[{"name":"type","required":true,"in":"query","schema":{"title":"Item Type","description":"The ID type.\n","enum":["artist","user"],"example":"artist","type":"string"}},{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify IDs","description":"A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids).\nA maximum of 50 IDs can be sent in one request.\n","example":"2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"required":["ids"],"properties":{"ids":{"type":"array","description":"A JSON array of the artist or user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids).\nFor example: \u0060{ids:[\u002274ASZWbe4lXaubB36ztrGX\u0022, \u002208td7MxkoHQkXnWAYD8d6Q\u0022]}\u0060. A maximum of 50 IDs can be sent in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"204":{"description":"Artist or user followed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-follow-modify"]}]},"delete":{"deprecated":true,"tags":["Users","Artists","Library"],"operationId":"unfollow-artists-users","summary":"Unfollow Artists or Users\n","description":"Remove the current user as a follower of one or more artists or other Spotify users.\n\n**Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.\n","parameters":[{"name":"type","required":true,"in":"query","schema":{"title":"Item Type","description":"The ID type: either \u0060artist\u0060 or \u0060user\u0060.\n","enum":["artist","user"],"example":"artist","type":"string"}},{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify IDs","description":"A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q\u0060. A maximum of 50 IDs can be sent in one request.\n","example":"2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"properties":{"ids":{"type":"array","description":"A JSON array of the artist or user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: \u0060{ids:[\u002274ASZWbe4lXaubB36ztrGX\u0022, \u002208td7MxkoHQkXnWAYD8d6Q\u0022]}\u0060. A maximum of 50 IDs can be sent in one request. _**Note**: if the \u0060ids\u0060 parameter is present in the query string, any IDs listed here in the body will be ignored._\n","items":{"type":"string"}}}}}}},"responses":{"204":{"description":"Artist or user unfollowed"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-follow-modify"]}]}},"/me/following/contains":{"get":{"tags":["Users","Artists","Library"],"operationId":"check-current-user-follows","summary":"Check If User Follows Artists or Users\n","deprecated":true,"description":"Check to see if the current user is following one or more artists or other Spotify users.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"name":"type","required":true,"in":"query","schema":{"title":"Item Type","description":"The ID type: either \u0060artist\u0060 or \u0060user\u0060.\n","enum":["artist","user"],"example":"artist","type":"string"}},{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify IDs","description":"A comma-separated list of the artist or the user [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) to check. For example: \u0060ids=74ASZWbe4lXaubB36ztrGX,08td7MxkoHQkXnWAYD8d6Q\u0060. A maximum of 50 IDs can be sent in one request.\n","example":"2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ArrayOfBooleans"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":["user-follow-read"]}]}},"/playlists/{playlist_id}/followers/contains":{"get":{"tags":["Users","Playlists"],"operationId":"check-if-user-follows-playlist","summary":"Check if Current User Follows Playlist\n","deprecated":true,"description":"Check to see if the current user is following a specified playlist.\n\n**Note:** This endpoint is deprecated. Use [Check User\u0027s Saved Items](/documentation/web-api/reference/check-library-contains) instead.\n","parameters":[{"$ref":"#/components/parameters/PathPlaylistId"},{"name":"ids","required":false,"in":"query","schema":{"title":"Spotify user IDs","description":"**Deprecated** A single item list containing current user\u0027s [Spotify Username](/documentation/web-api/concepts/spotify-uris-ids). Maximum: 1 id.\n","example":"jmperezperez","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/SingletonArrayOfBoolean"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/audio-features":{"get":{"deprecated":true,"tags":["Tracks"],"operationId":"get-several-audio-features","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MachineLearning"}],"summary":"Get Several Tracks\u0027 Audio Features\n","description":"Get audio features for multiple tracks based on their Spotify IDs.\n","parameters":[{"name":"ids","required":true,"in":"query","schema":{"title":"Spotify Track IDs","description":"A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids)\nfor the tracks. Maximum: 100 IDs.\n","example":"7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/ManyAudioFeatures"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/audio-features/{id}":{"get":{"deprecated":true,"tags":["Tracks"],"operationId":"get-audio-features","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MachineLearning"}],"summary":"Get Track\u0027s Audio Features\n","description":"Get audio feature information for a single track identified by its unique\nSpotify ID.\n","parameters":[{"name":"id","required":true,"in":"path","schema":{"title":"Spotify Track ID","description":"The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.\n","example":"11dFghVXANMlKmJXsNCbNl","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OneAudioFeatures"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/audio-analysis/{id}":{"get":{"deprecated":true,"tags":["Tracks"],"operationId":"get-audio-analysis","summary":"Get Track\u0027s Audio Analysis\n","description":"Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track\u2019s structure and musical content, including rhythm, pitch, and timbre.\n","parameters":[{"name":"id","required":true,"in":"path","schema":{"title":"Spotify Track ID","description":"The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\nfor the track.\n","example":"11dFghVXANMlKmJXsNCbNl","type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/OneAudioAnalysis"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/TooManyRequests"}},"security":[{"oauth_2_0":[]}]}},"/recommendations":{"get":{"deprecated":true,"tags":["Tracks"],"operationId":"get-recommendations","x-spotify-policy-list":[{"$ref":"#/components/x-spotify-policy/policies/MachineLearning"}],"summary":"Get Recommendations\n","description":"Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.\n\nFor artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks.\n","parameters":[{"name":"limit","required":false,"in":"query","schema":{"title":"Limit","description":"The target size of the list of recommended tracks. For seeds with unusually small pools or when highly restrictive filtering is applied, it may be impossible to generate the requested number of recommended tracks. Debugging information for such cases is available in the response. Default: 20\\. Minimum: 1\\. Maximum: 100.\n","default":20,"example":10,"type":"integer","minimum":1,"maximum":100}},{"$ref":"#/components/parameters/QueryMarket"},{"name":"seed_artists","required":true,"in":"query","schema":{"title":"Spotify Artist ID Seeds","description":"A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for seed artists.  Up to 5 seed values may be provided in any combination of \u0060seed_artists\u0060, \u0060seed_tracks\u0060 and \u0060seed_genres\u0060.\u003Cbr/\u003E _**Note**: only required if \u0060seed_genres\u0060 and \u0060seed_tracks\u0060 are not set_.\n","example":"4NHQUGzhtTLFvgF5SZesLK","type":"string"}},{"name":"seed_genres","required":true,"in":"query","schema":{"title":"Genres Seeds","description":"A comma separated list of any genres in the set of [available genre seeds](/documentation/web-api/reference/get-recommendation-genres). Up to 5 seed values may be provided in any combination of \u0060seed_artists\u0060, \u0060seed_tracks\u0060 and \u0060seed_genres\u0060.\u003Cbr/\u003E _**Note**: only required if \u0060seed_artists\u0060 and \u0060seed_tracks\u0060 are not set_.\n","example":"classical,country","type":"string"}},{"name":"seed_tracks","required":true,"in":"query","schema":{"title":"Spotify Track ID Seeds","description":"A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for a seed track.  Up to 5 seed values may be provided in any combination of \u0060seed_artists\u0060, \u0060seed_tracks\u0060 and \u0060seed_genres\u0060.\u003Cbr/\u003E _**Note**: only required if \u0060seed_artists\u0060 and \u0060seed_genres\u0060 are not set_.\n","example":"0c6xIDDpzE81m2q797ordA","type":"string"}},{"name":"min_acousticness","required":false,"in":"query","schema":{"title":"Min. Acousticness","description":"For each tunable track attribute, a hard floor on the selected track attribute\u2019s value can be provided. See tunable track attributes below for the list of available options. For example, \u0060min_tempo=140\u0060 would restrict results to only those tracks with a tempo of greater than 140 beats per minute.\n","type":"number","minimum":0,"maximum":1}},{"name":"max_acousticness","required":false,"i
[...]
